<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div>
            <form>
              <label>Song Title</label>
              <input type="text" name="title" placeholder="Yellow Submarine"/><br>

              <label>Artist</label>
              <input type="text" name="artist" placeholder="The Beatles"/><br>

              <label>Genre</label>
              <input type="text" name="genre" placeholder="Psychadelic Rock"/><br>

              <label>Album Title</label>
              <input type="text" name="album" placeholder="Yellow Submarine"/><br>

              <label>Song Release Date</label>
              <input type="date" name="release_date"/><br>

              <button submit="submit">Add Song</button>
            </form>
        </div>
    </body>
</html>